<!DOCTYPE html>
<html>
  <head>
    <title>Hello Dogs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css"> 
      .container {
        height: 90vh;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: flex-start;
      }
      section {
        width: 45vw;
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        align-items: flex-start;
      }
    </style>
  </head>
  <body>
    <div class="container">

      <section class="dogs">
        <h1>Hello Dogs</h1>
        <h2>Current Dogs:</h2>
        <ul>
          {% for dog in dogs %}
            <li>{{dog.name}}</li>
          {% endfor %}
        </ul>
        <h2>Add a Dog:</h2>
        <form action="/dog" method="POST">
          <label>Dog's Name:</label>
          <input type="text" name="dog_name">
          <input type="submit" value="Submit">
        </form>
      </section>

      <section class="audits">
        <h1>Audit records</h1>
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>action</th>
              <th>query</th>
              <th>schema</th>
              <th>table name</th>
              <th>old data</th>
              <th>new data</th>
            </tr>
          </thead>
          <tbody>
            {% for audit in audits %}
            <tr>
              <td>{{audit.id}}</td>
              <td>{{audit.action}}</td>
              <td>{{audit.query}}</td>
              <td>{{audit.schema}}</td>
              <td>{{audit.table_name}}</td>
              <td>{{audit.old_data}}</td>
              <td>{{audit.new_data}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </section>

    </div>
  </body>
</html>